* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  background: linear-gradient(
    135deg,
    rgb(160, 28, 52) 30%,
    rgb(84, 30, 91) 70%
  );
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.flex-contanier {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.player-1 {
  height: 100%;
  width: 40%;
  border: 4px solid white;
  border-right: none;
  background-color: rgba(255, 255, 255, 0.504);
}

.middel {
  height: 100%;
  width: 20%;
  border: 4px solid white;
  margin-left: -10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    135deg,
    rgb(160, 28, 52) 30%,
    rgb(84, 30, 91) 70%
  );
}

.player-2 {
  height: 100%;
  width: 30%;
  border: 4px solid white;
  border-left: none;
  background-color: rgba(255, 255, 255, 0.211);
}

.btn {
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 900;
  padding: 10px 20%;
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.727);
  cursor: pointer;
}

i {
  margin-right: 0.2rem;
}

.imges {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.dice-1,
.dice-2 {
  width: 100px;
  height: 100px;
}

.player-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20%;
  margin-top: 10%;
  gap: 1rem;
}

.player-bottom-2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-bottom {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50vh;
  margin-right: 8vw;
}

.player-title-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-top: 15%;
}

.player-bottom-2 {
  margin: 0 auto;
}

.player-bottom-2-2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50vh;
}

.player-bottom-2-1,
.player-bottom-2-2 {
  border-radius: 10px;
  padding: 2rem 4rem;
  background-color: #c7365f;
  color: white;
  gap: 0.5rem;
}

.players-title {
  font-size: 2rem;
  color: #333;
}

.players-total {
  font-size: 4rem;
  color: #c7365f;
  font-weight: 900;
}

.players-current-titel {
  font-size: 1rem;
}

.players-current-score {
  font-size: 2rem;
  font-weight: 800;
}

#win1 {
  visibility: hidden;
  margin-right: 8rem;
}

#win2 {
  visibility: hidden;
  margin-left: 2rem;
}

.winMessage1,
.winMessage2 {
  font-size: 2rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
}

@media (min-width: 500px) and (max-width: 769px) {
  .middel {
    width: 30%;
  }

  .btn {
    font-size: 0.8rem;
  }

  .dice-1,
  .dice-2 {
    width: 80px;
    height: 80px;
  }

  .players-title {
    font-size: 1.2rem;
  }

  .players-total {
    font-size: 2.3rem;
  }

  .player-bottom-2-1,
  .player-bottom-2-2 {
    padding: 1rem 1rem;
  }

  .player-bottom-2-1 {
    margin-top: 0 auto;
  }

  .player-bottom {
    margin-top: 0px;
  }

  .player-bottom-2-1 {
    margin-top: 24rem;
  }

  .player-bottom-2-2 {
    margin-top: 25rem;
  }

  .players-current-score {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .winMessage1 {
    font-size: 1rem;
  }

  .winMessage2 {
    font-size: 1rem;
  }
}
